# GCP
GCP_PROJECT_ID=
GCS_BUCKET=
BQ_DATASET=sec_insider

# External APIs
FINNHUB_KEY="dae5jb1r01ql3jf8u260dae5jb1r01ql3jf8u26g"
FRED_KEY="75c0a5a9412de237eb6fb91c53a63135"

# SEC requires a descriptive User-Agent.
SEC_USER_AGENT=
